body
{
    margin:0;
    padding:0;
    font-family: 'Press Start 2P', cursive;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.app-addTask {
    width: 50%;
    border: 1px solid black;
    height: 7vh;
    display: flex;
    align-items: center;
    border: 7px solid white;
    border-radius: 20px;
    font-size: 0.8vw;
}
.app-input {
    width: 70%;
    height: 7vh;
    border: none;
    background-color: rgb(0,0,0,0.2);
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 0.8vw;
}
.app-button {
    height: inherit;
    color: white;
    background-color: rgb(255,0,0);
    text-align: center;
    line-height: 7vh;
    width: 30%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor:pointer;
    
}
.app-container {
    min-height: 10vh;
    border-radius: 4%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-items: center;
}
.task {
    display: flex;
    min-width: 100%;
    height: 5vh;
    align-items: center;
    padding: 15px;
}
@keyframes taskColor {
    from {
       
    }

    to {
        background-color: rgb(0,255,0);
    }
}
.taskButton {
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 10px;
    padding: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
   
}


.completed {
   
   background-color:rgb(0,255,0);
    animation-duration: 1s;
    animation-name: taskColor;
}
.-delete
{
    background-image:url("./Components/x.png");
  

}
.-done {
    background-image: url("./Components/done.png");
}

li {
    list-style: none;
    background-color: rgb(255,255,255,0.6);
    margin-left: -20px;
    border-radius: 10px;
    height: 5vh;
    margin-top: 10px;
    text-align: center;
    line-height: 5vh;
    font-size:1vw;
    padding: 10px;
    min-width:150px;
    border: 3px solid black;
   
}
ul{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
@media only screen and (max-width: 800px) {
    .app-addTask{
        width:100%;
        font-size:2vw;
    }
    .app-input {
        font-size: 2vw;
    }
    li
    {
        font-size:2vw;
        
    }
    .task
    {
        width:200%;
        
    }
    .taskButton
    {
        width:1px;
    }
}
